

table ,th ,td{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse:collapse ;
  
}
.heading , .main ,.heading1{
  border: 1px solid black;
  margin: 10px;
}
.sub{
  padding-left: 10px;
}
.sub2{
  padding-left: 90px;
  padding-right: 8px;
}
.sub3{
  padding-left: 50px;
  padding-right: 8px;
}
.heading1{
  padding-left: 15px;
}
.h2{
  text-align: center;
}

.heading2{
  border-top: 1px solid black;
}
.sub4{
  padding-left: 45px;
}
.bluehead{
  text-align: end;
  background-color: blue;
  color: white;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.head2{
  margin-top: -15px;
  text-align: end;
  margin-left: 10px;
  margin-right: 10px;
}
.mainTable{
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(208, 208, 208);
}
.headerborder{
  border: 1px solid black;
  width: 50%;
}